div {
    white-space: pre-line;
}
.task-group {
    display: flex;
    align-items: center;;
}
.task-field {
    margin-right: 40px;
}
.input-audio-group {
    display: flex;
}
.single-input-group {
    margin-right: 40px;
}
.answer-audio {
    display: none;
}